#background
  .row
    .col-xs-12
      .element
        %img{:src => "assets/horse.png", :alt => 'avatar'}
        .time.pull-right
          7 days
        %h2
          horse_js
        %p
          as much as I want to be, I'm not
          %span.mention
            @hourse_js
  .row
    .col-xs-12
      .element
        %img{:src => "assets/horse.png", :alt => 'avatar'}
        .time.pull-right
          7 days
        %h2
          horse_js
        %p
          as much as I want to be, I'm not
          %span.mention
            @hourse_js
